<div class="row">
  <p>
  main-map works!
</p>
</div>
  <div class="row" >
    <div class="col-xs-12" style="overflow-x:scroll;">
        <img style="height:750px;width:750px;"
        (click)="myfunction($event)" 
        src="assets/img/Agonia.Grid.png">
    </div>
    <div class="col-xs-13">
        <p>Size: {{ew}} x {{eh}} Location :{{background_position_x}},{{background_position_y}} </p>
        <p>Click:{{eo}} xx {{eoy}} </p>
        
    </div>
	<div class="col-xs-12" style="overflow-x:scroll;">
		<!-- jest 4 krotnie pomniejszony 2 px to 8px -->
		<div class="container" style="height:750px;width:750px;"
		[ngStyle]="{
			'background':'url(' + backgroundUrl + ') no-repeat',
			'background-position-x': background_position_x,
			'background-position-y': background_position_y , 'background-size': '6000px'
		  }" >
			<svg height="750px" width="750px">
			  <!--<path #svgArrow fill="none" stroke="red" stroke-width="3" id="triangle" d="M150 0 L75 200 L225 200 Z" />
			  <circle cx="20" cy="75" r="10" stroke="red" fill="transparent" stroke-width="5"/>
			  <circle cx="20" cy="95" r="10" stroke="red" fill="transparent" stroke-width="5"/>-->
			</svg>		
		</div>
	</div>
</div>

